<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Insert title here</title>
    <script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/js/My97DatePicker/WdatePicker.js"></script>
    <!-- 引入上传文件 插件 -->
    <script type="text/javascript" src="/js/uploadify/jquery.uploadify.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/uploadify/uploadify.css" />
    <!-- 引入artdialog -->
    <script type="text/javascript" src="/js/artDialog/dist/dialog-min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/artDialog/css/ui-dialog.css" />
    <!-- 引入富文本编辑器ckeditor -->
    <script type="text/javascript" src="/js/ckeditor/ckeditor.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/ckeditor/contents.css"/>
    <!-- 引入bootstrap -->
    <script type="text/javascript" src="/js/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap/css/bootstrap.min.css"/>
    <!-- 引入bootstrap-dialog -->
    <script type="text/javascript" src="/js/bootstrap-dialog/dist/js/bootstrap-dialog.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-dialog/dist/css/bootstrap-dialog.min.css"/>
    <!-- 引入bootstrap-treeview -->
    <script type="text/javascript" src="/js/bootstrap-treeview/dist/bootstrap-treeview.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-treeview/dist/bootstrap-treeview.min.css"/>
    <!-- 引入bootStrap-addTabs -->
    <script type="text/javascript" src="/js/bootStrap-addTabs/bootstrap.addtabs.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootStrap-addTabs/bootstrap.addtabs.css"/>
    <!-- 引入toastr -->
    <script type="text/javascript" src="/js/toastr/toastr.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/toastr/toastr.css"/>
    <!-- 引入bootstrap-table -->
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-table/dist/bootstrap-table.css"/>
    <script type="text/javascript" src="/js/bootstrap-table/dist/bootstrap-table.js"></script>
    <script type="text/javascript" src="/js/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <!-- 引入bootstrap-fileinput上传图片 -->
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap-fileinput/js/locales/zh.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/bootstrap-fileinput/css/fileinput.min.css"/>
    <!-- 引入zTree树形结构 -->
    <script type="text/javascript" src="/js/zTreev3/js/jquery.ztree.all.js"></script>
    <link rel="stylesheet" type="text/css" href="/js/zTreev3/css/zTreeStyle/zTreeStyle.css"/>
</head>
</html>
