<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form id="updateInfo">
        <input type="hidden" id="carId" name="carId" th:value="${car.carId}">
        汽车名称:<input name="carName" id="carName" th:value="${car.carName}"><br/>
        汽车价格:<input name="carPrice" id="carPrice" th:value="${car.carPrice}"><br/>
        汽车分类:
        <select id="carType" name="carType">
            <option>-- 请选择 --</option>
            <option th:each="carType : ${list}" th:value="${carType.tid}" th:selected="${carType.tid eq car.carType}">[[${carType.tname}]]</option>
        </select><br/>
        生产日期:<input type="date" id="manuTime" name="manuTime" th:value="${car.manuTime}==null?null:${#dates.format(car.manuTime,'yyyy-MM-dd')}"><br/>
        过期时间:<input type="date" id="expireTime" name="expireTime" th:value="${car.expireTime}==null?null:${#dates.format(car.expireTime,'yyyy-MM-dd')}"><br/>
        上下架：
            <input type="radio" name="isLower" value="0" id="isLower1" th:field="*{car.isLower}">下架
            <input type="radio" name="isLower" value="1" id="isLower2" th:field="*{car.isLower}">上架
    </form>

</body>
</html>